* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 30vh;
}




.map-list-wrapper {
  display: flex;
  flex-direction: horizontal;
  height: 70vh;
}